.contact-card {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  width: 300px;
  margin: 20px 20px 20px 20px;
}

.contact-content {
  padding: 10px 10px 10px 10px;
  width: 100%;
  position: relative;
  color: #000000;
}

.item-first-line {
  color: #00b48d;
}

.item-details-enter {
  color: #006693;
  alignment: right;
  position: absolute;
  right: 10px;
  cursor: pointer;
}
