<div class="contact-card">
  <div class="contact-margin">
    <img alt="contact logo" class="contact-logo" src="../../../assets/img/contact_logo.png" />
  </div>
  <div class="contact-content">
    <span class="item-first-line">ID: {{ contact.id }}</span> <br />
    {{ contact.name | firstUpperCaseLetter }} <br />
    {{ contact.lastName | firstUpperCaseLetter }} <br />
    <a href="#" class="delete-contact-link" (click)="doDelete()"
      ><fa name="trash"></fa> DELETE CONTACT</a
    >
    <a
      [routerLink]="['/contact', contact.id]"
      [state]="{ id: contact.id }"
      routerLinkActive="active"
    >
      <fa class="item-details-enter" name="arrow-circle-right"></fa>
    </a>
  </div>
</div>
