.form-errors {
  color: red;
}

input {
  margin-bottom: 20px;
  height: 20px;
  width: 200px;
  padding: 10px;
  opacity: 0.9;
}

.cancel-contact-btn {
  background-color: #979797;
  margin-right: 10px;
}
