<div>
  <form [formGroup]="userForm">
    <label> NAME: </label> <br />
    <input
      type="text"
      formControlName="name"
      required
      minlength="5"
      maxlength="10"
      placeholder="Type contact first name"
    />
    <span
      class="form-errors"
      *ngIf="userForm.controls.name.value && userForm.controls.name.errors"
    >
      Invalid Contact Name
    </span>
    <br />
    <label> LAST NAME: </label> <br />
    <input
      type="text"
      formControlName="lastName"
      required
      minlength="3"
      maxlength="10"
      placeholder="Type contact last name"
    />
    <span
      class="form-errors"
      *ngIf="
        userForm.controls.lastName.value && userForm.controls.lastName.errors
      "
    >
      Invalid Contact Last Name
    </span>
    <br />
    <label> ID NUMBER: </label> <br />
    <input
      type="number"
      formControlName="id"
      required
      placeholder="Type contact ID number"
    />
    <span
      class="form-errors"
      *ngIf="userForm.controls.id.value && userForm.controls.id.errors"
    >
      Invalid Contact ID
    </span>
    <br />
    <label> EMAIL: </label> <br />
    <input
      type="email"
      formControlName="email"
      required
      placeholder="Type contact email address"
    />
    <span
      class="form-errors"
      *ngIf="userForm.controls.email.value && userForm.controls.email.errors"
    >
      Invalid Contact Email
    </span>
    <br />
    <label> PHONE: </label> <br />
    <input
      type="tel"
      formControlName="phone"
      placeholder="Type contact phone number"
    />
    <span
      class="form-errors"
      *ngIf="userForm.controls.phone.value && userForm.controls.phone.errors"
    >
      Invalid Contact Email
    </span>
    <br />
    <button class="cancel-contact-btn" (click)="cancelContactHandler()">
      CANCEL <fa name="times-circle"></fa>
    </button>
    <button
      class="add-contact-btn"
      [disabled]="!userForm.valid"
      (click)="addContactHandler()"
    >
      ADD CONTACT <fa name="plus-circle"></fa>
    </button>
  </form>
</div>
