.contact-header {
  position: relative;
}

.contact-body {
  margin-top: 40px;
  margin-left: -20px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.add-contact-btn {
  position: absolute;
  right: 40px;
  top: -80px;
}
