<div class="contact-header">
  <button class="add-contact-btn" (click)="addContactHandler()">
    ADD CONTACT <fa name="plus-circle"></fa>
  </button>
</div>
<div class="contact-body">
  <span *ngFor="let contact of contacts">
    <app-contact-item
      [contact]="contact"
      (delete)="deleteContactHandler($event)"
    ></app-contact-item>
  </span>
</div>
