.contact-menu {
  text-align: right;
}

.app-contact-details {
}

.contact-container {
  width: 80%;
  background-color: #ffffff;
  margin-left: 10vw;
}

.contact-margin,
.contact-menu,
.contact-body {
  padding: 10px;
}

.contact-logo {
  margin: 0 5px -3px 0px;
}

.id-label {
  color: #3eb18f;
  margin-right: 5px;
}

.contact-body {
  padding: 40px;
  padding-top: 10px;
  font-size: 20px;
}

.contact-label {
  color: #4bb696;
}

.contact-value {
  color: #000000;
  margin-bottom: 20px;
}
