<div class="app-contact-details">
  <div class="contact-container">
    <div class="contact-margin">
      <img alt="contact logo" class="contact-logo" src="../../assets/img/contact_logo.png" />
      <span class="id-label">id:</span>
      <span class="id-value">{{ contact && contact.id }}</span>
    </div>
    <div class="contact-menu">
      <a
        href="#"
        class="delete-contact-link"
        (click)="deleteContactHandler(contact)"
      >
        <fa name="trash"></fa> DELETE CONTACT
      </a>
      <a href="#" class="return-link" (click)="returnHandler(contact)">
        <fa name="arrow-circle-left"></fa> GO TO CONTACTS LIST
      </a>
    </div>
    <div class="contact-body">
      <div class="contact-label">NAME:</div>
      <div class="contact-value">
        {{ contact && contact.name | firstUpperCaseLetter }}
        {{ contact && contact.lastName | firstUpperCaseLetter }}
      </div>
      <div class="contact-label">PHONE:</div>
      <div class="contact-value">
        {{ contact && contact.phone | formatPhoneNumber }}
      </div>
      <div class="contact-label">EMAIL:</div>
      <div class="contact-value">{{ contact && contact.email }}</div>
    </div>
  </div>
</div>
