<!--The content below is only a placeholder and can be replaced.-->
<div class="app-component">
  <img class="app-logo" src="../assets/img/gorilla_logo.png" />
  <span class="app-title">CONTACTS</span>
</div>

<router-outlet></router-outlet>
