.app-component {
  position: relative;
  color: #ffffff;
  margin-bottom: 20px;
}

.app-logo {
  height: 60px;
  width: 60px;
  margin-right: 20px;
}

.app-title {
  font-size: 40px;
  vertical-align: middle;
  position: absolute;
  top: 10px;
}
