/* You can add global styles to this file, and also import other style files */
body {
  background-color: #00b48d;
  color: #ffffff;
  font-size: 14px;
  padding-left: 40px
}

button {
  background-color: #006693;
  color: #ffffff;
  font-size: 15px;
  height: 25px;
}

.contact-logo {
  height: 20px;
  width: 20px;
  margin: 5px 5px 5px 5px;
}

.delete-contact-link {
  color: #db575c;
  font-size: 12px;
  text-decoration: none;
}

.return-link {
  color: #0b648e;
  font-size: 12px;
  text-decoration: none;
  margin-left: 20px;
}

.contact-margin {
  background-color: #007f5f;
}
